In Python, data types are classified as **mutable** or **immutable** based on whether their values can be changed after they are created.

### **Mutable Data Types**
- Mutable objects can have their values modified after they are created.
- Modifications can include adding, removing, or changing elements.
  
**Examples of Mutable Data Types**:

- **Lists**: You can modify, add, or remove elements.
    ```python
    my_list = [1, 2, 3]
    my_list.append(4)  # Now, my_list is [1, 2, 3, 4]
    ```
- **Dictionaries**: You can change values or add/remove key-value pairs.
    ```python
    my_dict = {"a": 1, "b": 2}
    my_dict["c"] = 3  # Now, my_dict is {'a': 1, 'b': 2, 'c': 3}
    ```
- **Sets**: You can add or remove elements.
    ```python
    my_set = {1, 2, 3}
    my_set.add(4)  # Now, my_set is {1, 2, 3, 4}
    ```

---

### **Immutable Data Types**
- Immutable objects cannot have their values changed after they are created.
- Any operation that seems to modify an immutable object creates a new object instead.

**Examples of Immutable Data Types**:

- **Strings**: You cannot change a string directly.
    ```python
    my_string = "hello"
    my_string = "Hello"  # This creates a new string
    ```
- **Tuples**: You cannot change the elements of a tuple.
    ```python
    my_tuple = (1, 2, 3)
    my_tuple[0] = 0  # This will raise an error
    ```
- **Integers, Floats, Booleans**: These are immutable; operations create new objects.
    ```python
    x = 10
    x += 1  # This creates a new object with value 11
    ```
---

### **Key Differences**

| **Aspect**       | **Mutable**       | **Immutable**      |
|-------------------|-------------------|--------------------|
| **Can be Changed**| Yes               | No                 |
| **Examples**      | List, Dictionary, Set | String, Tuple, Integer |
| **Memory Usage**  | May change in-place | Creates new object |

In [1]:
# difference between mutable and immutable 
# int
a = 10
print('value\t',a)
print('id\t',id(a))

value	 10
id	 140710031443016

In [2]:
# int after modification
a = 15
print('value\t',a)
print('id\t',id(a))

value	 15
id	 140710031443176

In [3]:
# list
a = [1,2,3]
print('value\t',a)
print('id\t',id(a))

value	 [1, 2, 3]
id	 2434697508608

In [4]:
# list after modification
a.append(4)
print('value\t',a)
print('id\t',id(a))

value	 [1, 2, 3, 4]
id	 2434697508608

### **Properties of Strings in Python**

1. **Ordered**: Strings maintain the sequence of characters.  
2. **Immutable**: Cannot be modified after creation; operations create new strings.  
3. **Indexed**: Support zero-based and negative indexing for character access.  
4. **Allow Duplicates**: Characters can repeat in a string.  
5. **Iterable**: Can be traversed using loops.  
6. **Heterogeneous Characters**: Can include letters, numbers, symbols, and spaces.  
7. **Dynamic Length**: Can store strings of any length within memory limits.  
8. **Built-in Methods**: Provide methods like `upper()`, `lower()`, `strip()`, `split()`, `join()`, etc.  
9. **Concatenation and Repetition**: Use `+` for joining and `*` for repetition.  
    ```python
    s1 = "Hello"
    s2 = s1 * 3  # Output: "HelloHelloHello"
    ```
10. **Objects**: Strings are Python objects with methods for manipulation.  

Strings are versatile and widely used for text processing!

In [5]:
str1 = 'hello world'
str2 = '123456789'
str3 = '''A programming language, which comes with the ability to model the real 'world, is considered object-oriented. 
It concentrates on objects and merges functions and data. Python has object-oriented features. 
Class mechanism of Python adds classes with a minimum number of new semantics and syntax.'''

print('str1\t',str1)
print('str2\t',str2)
print('str3\t',str3)

str1	 hello world
str2	 123456789
str3	 A programming language, which comes with the ability to model the real 'world, is considered object-oriented.
It concentrates on objects and merges functions and data. Python has object-oriented features.
Class mechanism of Python adds classes with a minimum number of new semantics and syntax.

# String Methods
- upper() : Converts a string into upper case

In [6]:
a = 'hi this side anshum banga'
a.upper()

'HI THIS SIDE ANSHUM BANGA'

- lower(): Converts a string into lower case

In [7]:
a = 'HI THIS SIDE ANSHUM BANGA'
a.lower()

'hi this side anshum banga'

- swapcase(): Swaps cases, lower case becomes upper case and vice versa

In [8]:
a = 'hI THIS SIDE aNSHUM bANGA. hOW CAN i HELP YOU TODAY ?'
a.swapcase()

'Hi this side Anshum Banga. How can I help you today ?'

- strip(): Returns a trimmed version of the string

In [9]:
a = '!!anshum!!!!'
a.strip('!')

'anshum'

- lstrip(): Returns a left trim version of the string
- rstrip(): Returns a right trim version of the string

In [10]:
a = '!!anshum!!!!'
print('-'*50)
print('with lstrip\t',a.lstrip('!'))
print('with rstrip\t',a.rstrip('!'))

--------------------------------------------------
with lstrip	 anshum!!!!
with rstrip	 !!anshum

- split(): Splits the string at the specified separator, and returns a list

In [11]:
# incase of space 
print('incase of space')
a = 'anshum banga'
print(a.split())
print('-'*50)
# incase of other delimeters 
print('incase of other delimeters')
a = 'anshum,banga'
print(a.split(','))

incase of space
['anshum', 'banga']
--------------------------------------------------
incase of other delimeters
['anshum', 'banga']

- capitalize(): Converts the first character to upper case

In [12]:
a = 'welcome to data science'
a.capitalize()

'Welcome to data science'

- title(): Converts the first character of each word to upper case

In [13]:
a.title()

'Welcome To Data Science'

In [14]:
print(a.center(50))

             welcome to data science

- count(): Returns the number of times a specified value occurs in a string

In [15]:
a.count('e')

4

- startswith(): Returns true if the string starts with the specified value
- endswith(): Returns true if the string ends with the specified value

In [16]:
print(a.startswith('introduction'))
print(a.endswith('science'))

False
True

- index(): Searches the string for a specified value and returns the position of where it was found

In [17]:
print(a.index('science'))

16

- find(): Searches the string for a specified value and returns the position of where it was found

In [18]:
a.find('data')

11


- **isalnum()**: Returns `True` if all characters in the string are alphanumeric (combination of `a-z`, `A-Z`, or `0-9`) and there is at least one character.  
- **isalpha()**: Returns `True` if all characters in the string are alphabetic (`a-z` or `A-Z`) and there is at least one character.  
- **isupper()**: Returns `True` if all characters in the string are uppercase alphabetic characters (`A-Z`) and there is at least one character.  
- **isnumeric()**: Returns `True` if all characters in the string are numeric (`0-9`) and there is at least one character.  
- **islower()**: Returns `True` if all characters in the string are lowercase alphabetic characters (`a-z`) and there is at least one character.

In [19]:
# isalnum (1-9,a-z,A-Z)
print('-'*50)
print('isalnum'.center(50))
print('anshum7banga@gmail.com\t\t','anshum7banga@gmail.com'.isalnum())
print('anshum7banga\t\t\t','anshum7banga'.isalnum())
print('anshum banga\t\t\t','anshum banga'.isalnum())
# isalpha (a-z,A-Z)

print('-'*50)
print('isalpha'.center(50))
print('anshumbanga\t\t\t','anshumbanga'.isalpha())
print('anshum7banga\t\t\t','anshum7banga'.isalpha())
# isupper
print('-'*50)
print('isupper'.center(50))
print('HI THIS SIDE ANSHUM BANGA\t','HI THIS SIDE ANSHUM BANGA'.isupper())
# isnumeric (0-9)
print('-'*50)
print('isnumeric'.center(50))
print('123456789\t\t\t','123456789'.isnumeric())
# islower 
print('-'*50)
print('islower'.center(50))
print('hi this side anshum banga\t','hi this side anshum banga'.islower())

--------------------------------------------------
                     isalnum
anshum7banga@gmail.com		 False
anshum7banga			 True
anshum banga			 False
--------------------------------------------------
                     isalpha
anshumbanga			 True
anshum7banga			 False
--------------------------------------------------
                     isupper
HI THIS SIDE ANSHUM BANGA	 True
--------------------------------------------------
                    isnumeric
123456789			 True
--------------------------------------------------
                     islower
hi this side anshum banga	 True

### **Properties of Tuples in Python**

1. **Ordered**: Maintain the order of elements.  
2. **Immutable**: Elements cannot be modified after the tuple is created.  
3. **Heterogeneous**: Can store elements of different data types.  
4. **Indexed**: Support zero-based and negative indexing for element access.  
5. **Allow Duplicates**: Can contain repeated elements.  
6. **Fixed Size**: Size is determined when the tuple is created and cannot change.  
7. **Nested Tuples**: Can contain other tuples or complex structures.  
8. **Efficient**: Consume less memory compared to lists and are faster for iteration.  
9. **Hashable**: Can be used as dictionary keys or elements of a set (if all items in the tuple are hashable).  
10. **Objects**: Tuples are Python objects with basic methods like `count()` and `index()`.

In [20]:
# how we can make a tuple 

a = (1,2,3)
print('a\t',a)
print('type\t',type(a))

a	 (1, 2, 3)
type	 <class 'tuple'>

In [21]:
# heterogenous

a = ('alok',1,2,3,7.8,(1,2,3))
print('a\t',a)
print('type\t',type(a))

a	 ('alok', 1, 2, 3, 7.8, (1, 2, 3))
type	 <class 'tuple'>

In [22]:
# duplicacy 
a = (1,1,1,1,1,1)
print('a\t',a)
print('type\t',type(a))

a	 (1, 1, 1, 1, 1, 1)
type	 <class 'tuple'>

In [23]:
# indexing 
a = (1,7,2,98,23,65)
print('a\t',a[0]) # positive indexing 
print('a\t',a[-3]) # negative indexing
print('type\t',type(a))

a	 1
a	 98
type	 <class 'tuple'>

#### Tuple Methods
- count(): Returns the number of times a specified value occurs in a tuple
- index(): Searches the tuple for a specified value and returns the position of where it was found

In [24]:
tup1 = (1,1,2,3,4,1,1)
print('count of 1\t',tup1.count(1))

count of 1	 4

In [25]:
print('index\t',tup1.index(3))

index	 3

### **Properties of Lists in Python**

1. **Ordered**: Maintain the order of elements.  
2. **Mutable**: Can be modified (add, remove, or change elements).  
3. **Heterogeneous**: Can store elements of different data types.  
4. **Dynamic**: Can grow or shrink in size.  
5. **Allows Duplicates**: Supports repeated elements.  
6. **Indexed**: Supports zero-based and negative indexing.  
7. **Iterable**: Can be traversed using loops.  
8. **Nested**: Can contain other lists.  
9. **Built-in Methods**: Provides methods like `append()`, `pop()`, `sort()`, etc.  
10. **Objects**: Lists are Python objects with associated widely used!

In [26]:
# how can we make a list 

l1 = [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [27]:
# example
name = ['alok','afroz','chhavi','nitin']
food = ['dosa','samosa','pizza','daal roti']
print(name)
print(food)

['alok', 'afroz', 'chhavi', 'nitin']
['dosa', 'samosa', 'pizza', 'daal roti']

In [28]:
# heterogenous, duplicacy, nested lists 

l2 = [1,2,3,3,3,3,4.5,6.7,'shivani',[1,2,3,4,5]]
print(l2)

[1, 2, 3, 3, 3, 3, 4.5, 6.7, 'shivani', [1, 2, 3, 4, 5]]

In [29]:
# indexing 
print(l2[-2])
print('-'*50)
print(l2[-2][-4])
print(l2[-1])
print('-'*50)
print(l2[-1][-4])

shivani
--------------------------------------------------
v
[1, 2, 3, 4, 5]
--------------------------------------------------
2

In [30]:
# how can we make an empty list 
a = []
print(a)

[]

#### List Methods
- append(): Adds an element at the end of the list

In [31]:
l3 = [1,2,3,4]
print(l3)

[1, 2, 3, 4]

In [32]:
# adding new element
l3.append(5)
print(l3)

[1, 2, 3, 4, 5]

In [33]:
l3.append(6)
l3.append(0)
l3.append(9)
print(l3)

[1, 2, 3, 4, 5, 6, 0, 9]

- clear(): Removes all the elements from the list

In [34]:
print(l3)
l3.clear()
print('-'*50)
print('after clear() method')
print(l3)

[1, 2, 3, 4, 5, 6, 0, 9]
--------------------------------------------------
after clear() method
[]

- copy(): Returns a copy of the list

In [35]:
a = [1,2,3,4]
b = []

import sys 
print(sys.getsizeof(a))
print(sys.getsizeof(b))

88
56

In [36]:
b  = a.copy()
sys.getsizeof(b)

88

In [37]:
a = [[1,2],[3,4]]

In [38]:
b = a.copy()

- count(): Returns the number of elements with the specified value

In [39]:
l4 = [1,2,1,2,3,4,45,1,1,1,1,'anshum','anshum']
print(l4.count(1))
print(l4.count('anshum'))

6
2

- extend(): Add the elements of a list (or any iterable), to the end of the current list

In [40]:
a = [1,2,3,4,5]
b = [6,7,8,9]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- index(): Returns the index of the first element with the specified value

In [41]:
print(l4)
l4.index('anshum')

[1, 2, 1, 2, 3, 4, 45, 1, 1, 1, 1, 'anshum', 'anshum']

11

- insert(): Adds an element at the specified position

In [42]:
print(l4)
l4.insert(2,'nitin')
print(l4)

[1, 2, 1, 2, 3, 4, 45, 1, 1, 1, 1, 'anshum', 'anshum']
[1, 2, 'nitin', 1, 2, 3, 4, 45, 1, 1, 1, 1, 'anshum', 'anshum']

- pop(): Removes the element at the specified position

In [43]:
l5 = [1,2,54,23,23,45,65]
print(l5)
print('*'*50)
l5.pop(2)
print(l5)

[1, 2, 54, 23, 23, 45, 65]
**************************************************
[1, 2, 23, 23, 45, 65]

- remove(): Removes the item with the specified value

In [44]:
print(food)
print('*'*50)
food.remove('pizza')
print(food)

['dosa', 'samosa', 'pizza', 'daal roti']
**************************************************
['dosa', 'samosa', 'daal roti']

- reverse(): Reverses the order of the list

In [45]:
a = [1,2,3,4,5,6,7,8,9]
a.reverse()
a

[9, 8, 7, 6, 5, 4, 3, 2, 1]

- sort(): Sorts the list"

In [46]:
a = [2,31,2,3,4,1,5,6,3,5,8,6,23,24,67,2,54,65]
print(a)
print("-"*80)
a.sort()
print(a)

[2, 31, 2, 3, 4, 1, 5, 6, 3, 5, 8, 6, 23, 24, 67, 2, 54, 65]
--------------------------------------------------------------------------------
[1, 2, 2, 2, 3, 3, 4, 5, 5, 6, 6, 8, 23, 24, 31, 54, 65, 67]

### **Properties of Sets in Python**

1. **Unordered**: Sets do not maintain the order of elements.  
2. **Unique Elements**: No duplicate elements are allowed.  
3. **Mutable**: Can add or remove elements, but individual elements must be immutable.  
4. **Dynamic**: Can grow or shrink in size.  
5. **Heterogeneous**: Can store elements of different data types.  
6. **Unindexed**: Elements cannot be accessed by index; use loops to traverse.  
7. **Fast Operations**: Optimized for fast membership testing (`in`/`not in`).  
8. **Built-in Methods**: Supports methods like `add()`, `remove()`, `union()`, `intersection()`, etc.  
9. **No Nested Sets**: Sets cannot contain other sets, but can include frozensets.  
10. **Objects**: Sets are Python objects with associated methods.

In [47]:
set1 = {1,2,3,4,5,6}
print(set1)

{1, 2, 3, 4, 5, 6}

In [48]:
set2 = {'pizza','samosa','dosa','italian'}
print(set2)

{'dosa', 'pizza', 'samosa', 'italian'}

In [49]:
set3 = {1,2,3,4.5,6.7,'nitin','shruti'}
print(set3)

{1, 2, 3, 4.5, 6.7, 'nitin', 'shruti'}

In [50]:
set4 = {1,1,1,1,1,1,2,3,2,3,4}
print(set4)

{1, 2, 3, 4}

In [51]:
# how to create an empty set 

setemp = set()
type(setemp)

set

# Sets Methods 

- add(): Adds an element to the set

In [52]:
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [53]:
set1.add(9)
print(set1)

{1, 2, 3, 4, 5, 9}

- clear(): Removes all the elements from the set

In [54]:
set1.clear()
print(set1)

set()

- union(): 	Return a set containing the union of sets

In [55]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,1}
print('a',a)
print('b',b)
print('-'*50)
print(a.union(b))

a {1, 2, 3, 4, 5, 6}
b {1, 4, 5, 6, 7, 8}
--------------------------------------------------
{1, 2, 3, 4, 5, 6, 7, 8}

- update(): Update the set with the union of this set and others

In [56]:
print('a',a)
print('b',b)
print('-'*50)
a.update(b)

print(a)

a {1, 2, 3, 4, 5, 6}
b {1, 4, 5, 6, 7, 8}
--------------------------------------------------
{1, 2, 3, 4, 5, 6, 7, 8}

- difference(): Returns a set containing the difference between two or more sets

In [57]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,1}
print('a',a)
print('b',b)
print('-'*50)
print(a.difference(b))
# print(a-b)

a {1, 2, 3, 4, 5, 6}
b {1, 4, 5, 6, 7, 8}
--------------------------------------------------
{2, 3}

- difference_update(): Removes the items in this set that are also included in another, specified set

In [58]:
print('a',a)
print('b',b)
print('-'*50)
a.difference_update(b)

print(a)

a {1, 2, 3, 4, 5, 6}
b {1, 4, 5, 6, 7, 8}
--------------------------------------------------
{2, 3}

- intersection(): Returns a set, that is the intersection of two other sets

In [59]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,1}
print('a',a)
print('b',b)
print('-'*50)
print(a.intersection(b))

a {1, 2, 3, 4, 5, 6}
b {1, 4, 5, 6, 7, 8}
--------------------------------------------------
{1, 4, 5, 6}

- intersection_update(): Removes the items in this set that are not present in other, specified set(s)

In [60]:
print('a',a)
print('b',b)
print('-'*50)
a.intersection_update(b)

print(a)

a {1, 2, 3, 4, 5, 6}
b {1, 4, 5, 6, 7, 8}
--------------------------------------------------
{1, 4, 5, 6}

- issuperset(): Returns whether this set contains another set or not
- issubset(): Returns whether another set contains this set or not

In [61]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,1}
c = {4,5,6}
d = {1,3}

In [62]:
# superset 
print('a\t',a)
print('b\t',b)
print('c\t',c)
print('-'*50)
print('is a superset of b?\t',a.issuperset(b))
print('is a superset of c?\t',a.issuperset(c))
print('is a superset of d?\t',a.issuperset(d))

a	 {1, 2, 3, 4, 5, 6}
b	 {1, 4, 5, 6, 7, 8}
c	 {4, 5, 6}
--------------------------------------------------
is a superset of b?	 False
is a superset of c?	 True
is a superset of d?	 True

In [63]:
# superset 
print('a\t',a)
print('b\t',b)
print('c\t',c)
print('-'*50)
print('is b subset of a?\t',b.issubset(a))
print('is c subset of a?\t',c.issubset(a))
print('is b subset of a?\t',d.issubset(a))

a	 {1, 2, 3, 4, 5, 6}
b	 {1, 4, 5, 6, 7, 8}
c	 {4, 5, 6}
--------------------------------------------------
is b subset of a?	 False
is c subset of a?	 True
is b subset of a?	 True

- pop():Removes an element from the set
- remove(): Removes the specified element

In [64]:
set2 = {'pizza','samosa','dosa','italian'}
print('set before\t',set2)
print('-'*70)
print('removed item\t',set2.pop())
print('set after\t',set2)

set before	 {'dosa', 'pizza', 'samosa', 'italian'}
----------------------------------------------------------------------
removed item	 dosa
set after	 {'pizza', 'samosa', 'italian'}

### **Properties of Dictionaries in Python**

1. **Unordered**: Do not maintain the order of elements (order is maintained from Python 3.7+ but is not guaranteed in earlier versions).  
2. **Mutable**: Can be modified (add, remove, or update key-value pairs).  
3. **Key-Value Pair**: Consists of unique keys mapped to corresponding values.  
4. **Heterogeneous**: Keys and values can store elements of different data types.  
5. **Unique Keys**: Keys must be unique, while values can be duplicated.  
6. **Dynamic**: Can grow or shrink in size.  
7. **No Indexing**: Access elements using keys instead of indices.  
8. **Iterable**: Can be traversed using loops (e.g., `for key in dictionary:`).  
9. **Nested**: Can contain other dictionaries or data structures.  
10. **Built-in Methods**: Provides methods like `get()`, `keys()`, `values()`, `items()`, `pop()`, etc.  
11. **Hashable Keys**: Keys must be immutable and hashable (e.g., strings, numbers, tuples).  
12. **Fast Lookups**: Optimized for retrieving values using keys.

In [65]:
# dictionaries 

dict1 = {'key':'value'}

In [66]:
dict1

{'key': 'value'}

In [67]:
dict1 = {'name':['Alok','Nitin','Afroz'],
        'course':['Data Analytics','Data Science','Data Engg.'],
        'marks':[90,91,85]}

print(dict1)

{'name': ['Alok', 'Nitin', 'Afroz'], 'course': ['Data Analytics', 'Data Science', 'Data Engg.'], 'marks': [90, 91, 85]}

In [68]:
dict1 = {'enhance':'intensify, increase, or further improve the quality, value, or extent of.',
        'specify':'identify clearly and definitely.'}
print(dict1)

{'enhance': 'intensify, increase, or further improve the quality, value, or extent of.', 'specify': 'identify clearly and definitely.'}

### **Dictionary Methods in Python**

- **clear()**: Removes all elements from the dictionary, leaving it empty.

In [69]:
dict1.clear()
print(dict1)

{}

- **get(key)**: Returns the value associated with the specified key. If the key does not exist, returns the default value (or `None` if not specified).

In [70]:
dict1 = {'name':['Alok','Nitin','Afroz'],
        'course':['Data Analytics','Data Science','Data Engg.'],
        'marks':[90,91,85]}

In [71]:
# indexing 
dict1['name']

['Alok', 'Nitin', 'Afroz']

In [72]:
dict1['fees']

KeyError: 'fees'

In [ ]:
# get 
dict1.get('name')

In [ ]:
dict1.get('fees')

- **items()**: Returns a view object that displays a list of dictionary's key-value pairs as tuples.

In [ ]:
dict1.items()

- **keys()**: Returns a view object that displays a list of all the keys in the dictionary.

In [ ]:
dict1.keys()

- **pop(key)**: Removes the specified key and returns its value. If the key does not exist, returns the default value (or raises a `KeyError` if not specified).

In [ ]:
dict1.pop('course')

In [ ]:
dict1

- **popitem()**: Removes and returns the last inserted key-value pair as a tuple. Raises a `KeyError` if the dictionary is empty.

In [ ]:
dict1.popitem()

In [ ]:
dict1

- **setdefault(key)**: Returns the value of the specified key. If the key does not exist, inserts the key with the specified default value (or `None` if not provided).

In [ ]:
dict1.setdefault('name')

In [ ]:
dict1.setdefault('marks')

In [ ]:
dict1

- **values()**: Returns a view object that displays a list of all the values in the dictionary.

In [ ]:
dict1.values()

In [ ]:
dict1 = {'Name': 'Anshum'}
dict2 = {'course':'Data Science'}

In [ ]:
dict1.update(dict2)

In [ ]:
dict1

I'm Anshum Banga, a Data Scientist and Trainer with expertise in Python, machine learning, and data visualization. 
Connect with me on LinkedIn.